
.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;

}

.container1 {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.button_pink {
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #f16d7f;
    text-transform: uppercase;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
    display: inline-block;
    text-decoration: none;
}

.logo {
    width: 160px;
    display: block;
    color: #222222;
    font-family: sans-serif;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.68px;
    text-decoration: none;
    margin: 25px 0;
}

.logo span {
    color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.68px;
}

.nav {
    height: 51px;
}

.nav ul {
    width: 680px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0 auto;
}

.nav li {
    margin: 15px;
}

.nav a {
    display: block;
    flex-direction: row;
    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 10px;
}

.searchForm {
    height: 38px;
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
}

.searchForm input {
    height: 38px;

}

.searchForm button {
    height: 38px;
    width: 87px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background: #cdcdcc;
    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
}

.searchForm label {
    width: 280px;
}

.poster {
    background: url("images/kudri.png");
}

.container2 {
    /* Style for "THE BRAND" */
    width: 485px;
    height: 92px;
    color: #222222;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.brand span {
    color: #f16d7f;
    letter-spacing: 1px;
    font-size: 40px;
}

.fetured {
    text-align: center;
}

.text_big {
    color: #222222;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;
}

.text {
    color: #9f9f9f;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
}

.container3 {
    display: flex;
    text-align: left;
}

.item {
    width: 260px;
    height: 360px;
    margin: 15px;
    text-decoration: none;
    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.item span {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 8px;
}

.info { /* Style for "Objectivel" */
    width: 427px;
    height: 180px;
    color: #898989;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    /* Text style for "Objectivel" */
    letter-spacing: 0.35px;
}

footer {
    width: 1617px;
    height: 79px;
    display: flex;
    background-color: #e6e6e6;
    justify-content: space-between;
}

.follow_us {
    display: flex;
    list-style-type: none;
}

.follow_us a {
    width: 32px;
    height: 32px;
    margin: 8px;
    display: block;
    flex-direction: row;
    background-color: #ffffff;
    list-style-type: none;
}