
h2 {
    margin: 0;
    color: #222222;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

h3 {
    color: #9f9f9f;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin: 10px 0 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    max-width: 100vw;
    overflow: hidden;
}

.header hr {
    max-width: 100%;
    border: none;
    height: 1px;
    background: #b2b2b2;
}


.container {
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;

}

.brand_search_login {
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 30px 0;
}

.button_pink {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #f16d7f;
    text-transform: capitalize;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 38px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.9;
}

.button_pink:hover {
    opacity: 1;
    box-shadow: 0 0 10px #898989;
}

.whiteButton {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    display: inline-block;
    text-decoration: none;
    color: #222222;
    border: 1px solid #a9a9a9;
    opacity: 0.8;
}

.whiteButton_small {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    display: inline-block;
    text-decoration: none;
    color: #222222;
    border: 1px solid #a9a9a9;
    opacity: 0.8;
}

.whiteButton:hover, .whiteButton_small:hover {
    opacity: 1;
    box-shadow: 0 0 10px #898989;
}

.cart_and_button {
    display: flex;
    align-items: flex-end;
}

.cart_and_button a:first-child {
    margin-right: 20px;
}

.logo {
    display: block;
    color: #222222;
    font-family: sans-serif;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-decoration: none;
    margin-right: 40px;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    padding-top: 20px;
}

.logo span {
    color: #f16d7f;
    font-weight: normal;
}

.searchForm {
    font-family: sans-serif;
    font-size: 0;
    display: flex;
    margin-right: auto;
}

.searchForm input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #a9a9a9;
}

.searchForm input[type=button] {
    background: #f9f9f9;
    border: 1px solid #a9a9a9;
    border-right: none;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    padding: 8px;
}

.searchForm input[type=button]:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px #898989;
}

.searchForm li:last-child {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.searchForm li:last-child:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px #898989;
}

.searchForm img {
    height: 13px;
}

.nav {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.nav ul {
    width: 680px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.nav a {
    display: block;
    flex-direction: row;
    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    padding: 0 5px;
    line-height: 50px;
}

.nav a:after {
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0;
    position: absolute;
    background-color: #f16d7f;
    border-bottom: 4px solid #f16d7f;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .3s linear;
}


.nav a:hover:after {
    opacity: 1;
}

.s_poster {
    background: #e8e8e8;
}

.poster {
    position: relative;
    margin-bottom: 50px;
}

.poster img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
}

.poster__name__container {
    border-left: 6px solid #f16d7f;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.poster__name {
    display: inline-block;
    text-transform: uppercase;
    color: #222222;
    font-family: sans-serif;
    font-size: 60px;
    text-decoration: none;
}

.poster p {
    font-family: sans-serif;
    font-size: 40px;
    margin: 0;
}

.poster p span {
    color: #f16d7f;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.showcase_half {
    width: 50%;
}

.showcase_big, .showcase_small {
    height: 560px;
    margin: 20px 10px;
    position: relative;
    box-shadow: 0 0 15px #898989;
    transition: all 0.4s ease 0s;
    max-width: fit-content;
}

.showcase_big:hover, .showcase_small:hover {
    transform: scale(1.05);
    transition: all 0.4s ease 0s;
}

.showcase_big img, .showcase_small img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.showcase_small {
    height: 260px;
}

.showcase_text {
    position: absolute;
    left: 0;
    top: 30px;
    background-color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px 20px;
}

.showcase_text span {
    color: #f16d7f;
    font-size: 30px;
}

.fetured {
    text-align: center;
}

.text_big {
    color: #222222;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 54px;
}

.simple_text {
    color: #9f9f9f;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 54px;
}

.fetured_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.item {
    width: 23%;
    height: 360px;
    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
    transition: all 0.4s ease 0s;
}

.item:hover {
    box-shadow: 0 0 15px #898989;
    transition: all 0.4s ease 0s;
}

.blur {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #333333;
    opacity: 0;
}

.blur a {
    text-decoration: none;
}

.item ul {
    margin: 0 auto;
    line-height: 30px;
    text-decoration: none;
    list-style-type: none;
}

.test {
    margin: 20px;
    text-decoration: none;
    color: #333;
}

.item span {
    color: #f16d7f;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
}

.item_img_cont {
    background: #3a3838;
    height: 280px;
    position: relative;
    overflow: hidden;
}

.item_img_cont img {
    transition: opacity .1s linear;
    min-width: 100%;
    min-height: 100%;
}

.item_img_cont a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #e6e6e6;
    color: #fff;
    opacity: 0;
    padding: 15px;
}

.item_img_cont:hover .blur {
    opacity: 0.8;
    transition: all 0.4s ease 0s;
}

.item_img_cont:hover a {
    opacity: 1;
    transition: all 0.4s ease 0s;
}

.all_product {
    margin: 50px 0 100px;
    text-align: center;
}

.commercial {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 100px;
    background-color: #222224;
}

.commercial_poster {
    width: 60%;
    overflow: hidden;
}

.commercial_text {
    position: absolute;
    left: 20px;
    top: 150px;
    font-family: sans-serif;
    font-size: 45px;
    font-weight: normal;
    text-align: left;
    background: none;
    color: #eeeeee;
}

.commercial_text span {
    font-size: 30px;
    font-weight: normal;
}

.delivery_types {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    padding-top: 20px;
}

.delivery {
    padding-left: 35px;
    display: flex;
    box-sizing: border-box;
}

.delivery p {
    padding: 0 35px 20px;
    text-align: justify;
    font-family: sans-serif;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: lighter;
}

.delivery span {
    font-size: 20px;
    font-weight: bold;
    color: #fbfbfb;
    text-align: left;
    padding: 0 35px 20px;
    font-family: sans-serif;
}

.s_subscribe {
    display: block;
    justify-content: center;
    background: url(../images/Layer_41.png) no-repeat bottom center;
    background-size: cover;
    margin: 0 auto;
}

.subscribe {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.subscribe__half {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50%;
    padding: 120px 20px;
}

.subscribe__half:last-child {
    border-left: 1px solid #a9a9a9
}

.subscribe__half_text {
    font-size: 14px;
    margin: 8px 0;
    font-family: sans-serif;
}

.subscribe__half_text p {
    font-family: sans-serif;
}

.subscribe__half_text span {
    font-size: 24px;
    font-family: sans-serif;
}

.subscribe_review {
    display: flex;
}

.subscribeForm {
    font-family: sans-serif;
    font-size: 0;
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.subscribeForm input {
    padding: 10px 50px 10px 10px;
    font-size: 14px;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
    background: #e1e1e1;
    outline: none;
}

.subscribeForm input[type=button] {
    background: #f16d7f;
    border-left: none;
    -webkit-border-radius: 0 1020px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    color: #eeeeee;
}

.subscribeForm input[type=button]:hover {
    opacity: 0.7;
    box-shadow: 0 0 10px #898989;
}

.about_us {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
    text-align: left;
    color: #898989;
}

.about_us ul {
    list-style-type: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    padding: 20px 50px;
    margin-top: 0;
}

.about_us ul span {
    list-style-type: none;
    font-family: sans-serif;
    color: #f16d7f;
    font-size: 18px;
    font-weight: bolder;
    line-height: 26px;
    text-transform: uppercase;
    white-space: nowrap;
}

.about_us a {
    text-decoration: none;
    color: #898989;
}

footer {
    background-color: #e6e6e6;
}

.follow_us {
    display: flex;
    list-style-type: none;
}

.follow_us a:hover {
    background: #f16d7f;
    color: #eeeeee;
    opacity: 0.8;
}

.backgr_gray p {
    color: #b2b2b2;
    font-family: sans-serif;
}

.follow_us li {
    width: 30px;
    height: 40px;
    margin: 10px 5px 0;
    position: relative;
}

.follow_us a {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    list-style-type: none;
    color: #b2b2b2;
}

.backgr_gray {
    display: flex;
    justify-content: space-between;
}

.backgr_gray p {
    display: block;
}


.breadCrumbs {
    background: #f8f3f4;
}

.breadCrumbs__header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: sans-serif;
    align-items: center;
}

.breadCrumbs__header h2 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: normal;
}

.breadCrumbs__header ul {
    font-size: 14px;
    list-style-type: none;
    display: flex;
    padding: 70px 0;
}

.breadCrumbs__header a {
    text-decoration: none;
    padding-left: 10px;
    color: #636363;
}

.breadCrumbs__header a span {
    color: #f16d7f;
}

.newArrivals {
    background: #f7f7f7;
    margin: 0 auto;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 50px;
}

.newArrivals__flex {
    display: flex;
    justify-content: center;
}

.womenCollection {
    margin-top: -85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    position: relative;
    background: #fff;
    font-family: sans-serif;
}

.womenCollection__item {
    max-width: 610px;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    padding: 70px 0 45px;
}

.womenCollection__item h3, h4 {
    color: #f16d7f;
    font-size: 14px;
    text-transform: uppercase;
}

.womenCollection__item h4 {
    color: #222222;
    font-size: 18px;
    margin-bottom: 65px;
}

.womenCollection__item p {
    line-height: 2;
}

.womenCollection__item span {
    color: #f16d7f;
    font-size: 24px;
}

.womenCollection__item_type {
    margin: 20px 40px 50px;
    display: flex;
    justify-content: space-around;
}

.item_choice {
    margin: 70px 0 100px;
    width: 540px;
}

.optionsList {
    padding: 0;
    border: none;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.optionsForm {
    display: flex;
}

.optionsForm ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.optionsForm li {
    display: flex;
    flex-direction: column;
}

.optionsForm label{
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.optionsForm select, .optionsForm input {
    margin-top: 20px;
    width: 140px;
    height: 30px;
    box-sizing: border-box;
    opacity: 0.7;
}

.bigButton_container {
    margin-top: 40px;
}

.bigButton {
    color: #f16d7f;
    font-size: 16px;
    border: 1px solid #f16d7f;
    text-decoration: none;
    padding: 20px;
    opacity: 0.7;
    display: flex;
    justify-content: center;
}

.bigButton img {
    transform: translateY(-25%);
    padding: 0 10px;
}

.bigButton:hover {
    opacity: 1;
    box-shadow: 0 0 15px #898989;
    background: #e9e9e9;
}

.mayLike {
    margin-top: 80px;
}

.mayLike h4 {
    font-size: 24px;
    color: #222222;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
}

.mayLike__item {
    background: #e9e9e9;
    display: flex;
    justify-content: center;
}

.mayLike__item img {
    min-width: unset;
}

.shopCart, .shopCart__items{
    display: flex;
    flex-direction: column;
}

.shopCart__header {
    padding-top: 60px;
    width: 100%;
}

.shopCart__row {
    margin-top: 30px;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
}

.shopCart__item {
    width: 100%;
}

.shopCart__item__describe {
    display: flex;
}

.shopCart__item__describe_text{
    margin-left: 15px;
}

.shopCart__header__titles, .shopCart__item_text, .shopCart__item__describe_text {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}

.shopCart__product, .shopCart__price, .shopCart__quantity, .shopCart__shipping, .shopCart__subtotal, .shopCart__action {
    margin-bottom: 30px;
    display: flex;
}

.shopCart__product {
    width: 45%;
}

.shopCart__price, .shopCart__quantity, .shopCart__shipping, .shopCart__subtotal, .shopCart__action {
    width: 11%;
    justify-content: center;
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
    font-family: sans-serif;
}

.shopCart__quantity input {
    height: fit-content;
}

.shopCart__item_text {
    font-weight: normal;
}

.shopCartDelete {
    font-size: 18px;
    height: fit-content;
    padding: 0 8px 8px;
    color: #222222;
}

.shopCartDelete:hover {
    color: #FF0000;
}

.shopCart__control {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.shopCartData {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: sans-serif;
}

.shopCartData__el {
    max-width: 31%;
    display: block;
}

.shopCartData__el input{
    display: block;
}


