<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="slick/slick-theme.css">
    <link rel="stylesheet" href="slick/slick.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="brand_search_login">
            <a class="logo" href="index.html"><img src="images/Group_2.png"
                                                   alt="logo">BRAN<span>D</span></a>
            <div class="searchForm">
                <form class="headerButtons" method="get">
                    <ul class="searchForm">
                        <li>
                            <input type="button" value="Browse">
                        </li>
                        <li>
                            <input type="search" placeholder="Search for Item...">
                        </li>
                        <li>
                            <a>
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="cart_and_button">
                <a href="cart.html" class="cartIcon"> <img src="images/s_cart.svg" alt="cart"> </a>
                <a href="chekout.html" class="button_pink">My Account</a>
            </div>

        </div>
    </div>
    <hr>
    <div class="container">
        <nav class="nav">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="singlepage.html">man</a></li>
                <li><a href="#">women</a></li>
                <li><a href="#">kids</a></li>
                <li><a href="#">accoseriese</a></li>
                <li><a href="#">featured</a></li>
                <li><a href="#">hot deals</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="s_poster">
    <div class="container posterContainer">
        <div class="poster1">
            <img src="images/slider1.png" alt="brand">
            <div class="poster__name__container_left">
                <a class="poster__name" href="#">the brand</a><br>
                <p>of luxerious <span>fashion</span></p>
            </div>
        </div>
        <div class="poster2">
            <img src="images/slider2.jpg" alt="brand">
            <div class="poster__name__container_left">
                <a class="poster__name_small" href="#">big sales</a><br>
                <p>best <span>quality</span></p>
            </div>
            <div class="poster__name__container_right">
                <p><span>Free shipping </span>for</p>
                <a class="poster__name_small" href="#">kids cloves</a><br>
            </div>
        </div>
        <div class="poster3">
            <img src="images/slider3.jpg" alt="brand">
            <div class="poster__name__container_right">
                <a class="poster__name" href="#">best goods</a><br>
                <p>for <span>everyone</span></p>
            </div>
        </div>
    </div>
</section>

<section class="s_showcase">
    <div class="container">
        <div class="showcase">
            <div class="showcaseItem showcaseItemFirst">
                <img src="images/showcase1.png"
                     alt="for Man">
                <div class="showcase_text">hOT dEAL <br>
                    <span>FOR MEN</span></div>
            </div>
            <div class="showcaseItem">
                <img src="images/showcase3.png"
                     alt="for Man">
                <div class="showcase_text">30% offer <br>
                    <span>women</span></div>
            </div>
            <div class="showcaseItem showcaseItemThird">
                <img src="images/showcase4.png"
                     alt="for Man">
                <div class="showcase_text">new arrivals <br>
                    <span>FOR kids</span></div>
            </div>
            <div class="showcaseItem">
                <img src="images/showcase2.png"
                     alt="for Man">
                <div class="showcase_text">LUXIROUS & trendy <br>
                    <span>ACCESORIES</span></div>
            </div>
        </div>
    </div>
</section>

<section class="s_fetured_items">
    <div class="container">
        <h2>Fetured Items</h2>
        <h3>Shop for items based on what we featured in this week</h3>
        <div class="feturedItems">
            <script id="templateProductItem" type="text/template">
                <div class="item" data-id="<%= itemId %>">
                    <ul>
                        <li>
                            <div class="item_img_cont">
                                <img src="images/item1.png" alt="Mango People T-shirt">
                                <div class="blur">
                                    <a href="#" class="addToCart">
                                        <img src="images/s_cart_white.svg" alt="cart" width="25" height="25">
                                        Add to Cart
                                    </a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a class="test" href="#"><%= title %></a>
                        </li>

                        <li>
                            <span class="item_price">$<%= price %></span>
                        </li>
                    </ul>
                </div>
            </script>
            <div class="nothing">            <!--            <div class="item">-->
                <!--                <ul>-->
                <!--                    <li>-->
                <!--                        <div class="item_img_cont">-->
                <!--                            <img src="images/item2.png" alt="Mango People T-shirt">-->
                <!--                            <div class="blur">-->
                <!--                                <a href="#" class="addToCart" data-id="2">-->
                <!--                                    <img src="images/s_cart_white.svg" alt="cart" width="25" height="25">-->
                <!--                                    Add to Cart-->
                <!--                                </a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                        <a class="test" href="#">Mango People Blouse</a>-->
                <!--                    </li>-->
                <!--                    <li><span class="item_price">$34.00</span></li>-->
                <!--                </ul>-->
                <!--            </div>-->
                <!--            <div class="item">-->
                <!--                <ul>-->
                <!--                    <li>-->
                <!--                        <div class="item_img_cont">-->
                <!--                            <img src="images/item3_2.png" alt="Mango People T-shirt">-->
                <!--                            <div class="blur">-->
                <!--                                <a href="#" class="addToCart" data-id="3">-->
                <!--                                    <img src="images/s_cart_white.svg" alt="cart" width="25" height="25">-->
                <!--                                    Add to Cart-->
                <!--                                </a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                        <a class="test" href="#">Mango People Jacket</a>-->
                <!--                    </li>-->
                <!--                    <li><span class="item_price">$73.00</span></li>-->
                <!--                </ul>-->
                <!--            </div>-->
                <!--            <div class="item">-->
                <!--                <ul>-->
                <!--                    <li>-->
                <!--                        <div class="item_img_cont">-->
                <!--                            <img src="images/item4.png" alt="Mango People T-shirt">-->
                <!--                            <div class="blur">-->
                <!--                                <a href="#" class="addToCart" data-id="4">-->
                <!--                                    <img src="images/s_cart_white.svg" alt="cart" width="25" height="25">-->
                <!--                                    Add to Cart-->
                <!--                                </a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                        <a class="test" href="#">Mango People Dress</a>-->
                <!--                    </li>-->
                <!--                    <li><span class="item_price">$108.00</span></li>-->
                <!--                </ul>-->
                <!--            </div>-->
                <!--            <div class="item">-->
                <!--                <ul>-->
                <!--                    <li>-->
                <!--                        <div class="item_img_cont">-->
                <!--                            <img src="images/item5.png" alt="Mango People T-shirt">-->
                <!--                            <div class="blur">-->
                <!--                                <a href="#" class="addToCart" data-id="5">-->
                <!--                                    <img src="images/s_cart_white.svg" alt="cart" width="25" height="25">-->
                <!--                                    Add to Cart-->
                <!--                                </a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                        <a class="test" href="#">Mango People Sundress</a>-->
                <!--                    </li>-->
                <!--                    <li><span class="item_price">$23.00</span></li>-->
                <!--                </ul>-->
                <!--            </div>-->
                <!--            <div class="item">-->
                <!--                <ul>-->
                <!--                    <li>-->
                <!--                        <div class="item_img_cont">-->
                <!--                            <img src="images/item6.png" alt="Mango People T-shirt">-->
                <!--                            <div class="blur">-->
                <!--                                <a href="#" class="addToCart" data-id="6">-->
                <!--                                    <img src="images/s_cart_white.svg" alt="cart" width="25" height="25">-->
                <!--                                    Add to Cart-->
                <!--                                </a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                        <a class="test" href="#">Mango People Hat</a>-->
                <!--                    </li>-->
                <!--                    <li><span class="item_price">$8.00</span></li>-->
                <!--                </ul>-->
                <!--            </div>-->
                <!--            <div class="item">-->
                <!--                <ul>-->
                <!--                    <li>-->
                <!--                        <div class="item_img_cont">-->
                <!--                            <img src="images/item7.png" alt="Mango People T-shirt">-->
                <!--                            <div class="blur">-->
                <!--                                <a href="#" class="addToCart" data-id="7">-->
                <!--                                    <img src="images/s_cart_white.svg" alt="cart" width="25" height="25">-->
                <!--                                    Add to Cart-->
                <!--                                </a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                        <a class="test" href="#">Mango People Jeans</a>-->
                <!--                    </li>-->
                <!--                    <li><span class="item_price">$18.00</span></li>-->
                <!--                </ul>-->
                <!--            </div>-->
                <!--            <div class="item">-->
                <!--                <ul>-->
                <!--                    <li>-->
                <!--                        <div class="item_img_cont">-->
                <!--                            <img src="images/item8.png" alt="Mango People T-shirt">-->
                <!--                            <div class="blur">-->
                <!--                                <a href="#" class="addToCart" data-id="8">-->
                <!--                                    <img src="images/s_cart_white.svg" alt="cart" width="25" height="25">-->
                <!--                                    Add to Cart-->
                <!--                                </a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                        <a class="test" href="#">Mango People Sweeter</a>-->
                <!--                    </li>-->
                <!--                    <li><span class="item_price">$205.00</span></li>-->
                <!--                </ul>-->
                <!--            </div>-->
            </div>
        </div>
    </div>

    <div class="all_product">
        <a href="#" class="button_pink">Browse All Product &rarr;</a>
    </div>
</section>

<section class="s_commercial">
    <div class="container">
        <div class="commercial">
            <div class="commercial_poster">
                <img src="images/Layer_38.png" alt="offer">
                <div class="commercial_text">30% OFFER<br>
                    <span>FOR WOMEN</span>
                </div>
            </div>
            <div class="delivery_types">
                <div class="delivery">
                    <div><img src="images/commercial2.png"
                              alt="Delivery"></div>
                    <div><a class="deliveryLinks">Free Delivery</a>
                        <p>Worldwide delivery on all. Authorit tively morph next-generation
                            innov tion with extensive models.</p>
                    </div>
                </div>
                <div class="delivery">
                    <div><img src="images/commercial3.png"
                              alt="Sales"></div>
                    <div><a class="deliveryLinks">Sales & discounts</a>
                        <p>Worldwide delivery on all. Authorit tively morph next-generation
                            innov tion with extensive models.</p>
                    </div>
                </div>
                <div class="delivery">
                    <div><img src="images/commercial4.png"
                              alt="assurance"></div>
                    <div><a class="deliveryLinks">Quality assurance</a>
                        <p>Worldwide delivery on all. Authorit tively morph next-generation
                            innov tion with extensive models.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s_subscribe">

    <div class="container">
        <div class="subscribe">
            <div class="subscribe__half">
                <div class="subscribe_review">
                    <div class="s_subscribe_review">
                        <img src="images/Layer 740.png" alt="Bin Burhan">
                    </div>
                    <p><em>“Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                        a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed
                        pretium” </em>
                    </p>
                </div>
            </div>
            <div class="subscribe__half">
                <div><p class="subscribe__half_text"><span>SUBSCRIBE</span></p>
                    <p class="subscribe__half_text">FOR OUR NEWLETTER AND PROMOTION</p>
                    <div class="subscribeForm">
                        <form method="get">
                            <ul class="subscribeForm">
                                <li>
                                    <label>
                                        <input type="search" placeholder="Enter Your Email">
                                    </label>
                                </li>
                                <li>
                                    <input type="button" value="Subscribe" width="50px">
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="s_about_us">
    <div class="container about_us">
        <div class="about_us__text">
            <a class="logo" href="#"><img src="images/Group_2.png"
                                          alt="logo">BRAN<span>D</span></a>

            <p>Objectively transition extensive data rather than cross functional solutions.
                Monotonectally
                syndicate
                multidisciplinary materials before go forward benefits. Intrinsicly syndicate an
                expanded array
                of
                processes
                and
                cross-unit partnerships. </p>
            <p> Efficiently plagiarize 24/365 action items and focused infomediaries.
                Distinctively seize superior initiatives for wireless technologies. Dynamically
                optimize.
            </p>
        </div>
        <div class="about_us__company">
            <ul>
                <li><span>COMPANY</span></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="about_us__information">
            <ul>
                <li><span>INFORMATION</span></li>
                <li><a href="#">Tearms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">How to Buy</a></li>
                <li><a href="#">How to Sell</a></li>
                <li><a href="#">Promotion</a></li>
            </ul>
        </div>
        <div class="about_us__shopcategory">
            <ul>
                <li><span>SHOP CATEGORY</span></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Child</a></li>
                <li><a href="#">Apparel</a></li>
                <li><a href="#">Brows All</a></li>
            </ul>
        </div>

    </div>
</section>

<div id="cart_content"></div>

<footer>

    <div class="backgr_gray container">
        <p>© 2020 Brand All Rights Reserved.</p>
        <ul class="follow_us">
            <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>

            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>

            <li>
                <a href="#"><img src="images/ph.png" alt="phub"></a>
            </li>

            <li>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </li>

            <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
        </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/cart.js"></script>
<!--<script type="text/javascript" src="js/shop-items.js"></script>-->
<script type="text/javascript" src="slick/slick.min.js"></script>

</body>
</html>
